# Node modules
node_modules/

# Log files

# Build and output directories
dist/
build/
output/
html/

# Temporary files
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp

# Compiled LaTeX files
*.aux
*.log
*.out
*.toc

# Environment files
.env